@import "colors";

:host {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid $green-color;
  border-radius: 1rem;
  flex: 1;
  overflow: auto;

  .header-container {
    display: flex;
    align-items: center;

    > h2 {
      margin: 0;
    }
  }

  .rooms {
    &-item {
      display: flex;
      flex-direction: column;

      &-inner {
        flex: 1;
        display: flex;
        flex-wrap: wrap;

        &-box {
          width: 33.3333%;
        }
      }
    }
  }

  .mdc-button {
    flex-shrink: 0;
  }
}