@import "colors";

:host {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid $green-color;
  border-radius: 1rem;
  flex: 1;
  overflow: auto;

  h2 {
    margin-top: 0.5rem;
  }

  .rooms {
    margin-top: 0.5rem;

    &-item {
      display: flex;
      flex-direction: column;

      h4 {
        margin: 0;
      }

      ul {
        margin-block-start: 0.25rem;
        margin-block-end: 0.25rem;
        list-style-type: decimal;
        padding-inline-start: 1.5rem;
      }

      &-inner {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0.5rem;

        &-box {
          width: 30%;
          border: 1px solid $green-color;
          box-sizing: border-box;
          margin-right: 1rem;
          margin-bottom: 1rem;
          padding: 0.5rem;
        }
      }
    }
  }

  .mdc-button {
    flex-shrink: 0;
  }
}