@import "abstracts/colors";

html,
body {
  color: $green-color !important;
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}